@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");



:root {
    --body-color-1: #33f; 
    --body-color-2: #f12;
    --color-danger: #f00;
    --color-primary: #f33;
    --color-primary-2: #f33;
    --color-white: #111;
    --color-success: #00f;
    --color-success-2:#00f;
    --container-color-1: #63f;
    --container-color-2: #f05;
    --form-color-1: #03f;
    --form-color-2: #f04;
    --form-color-3: #f55;
    --color-btn: #f99;
    --color-light: #fff;
    --color-info: #f99;
    --color-theme: #7380ec;
    --color-grace: blue;
    --color-dark: black;
    --color-less-theme: rgba(132, 139, 200, 0.18);
}

.less-colors {
    --body-color-1:  #fcc;
    --body-color-2: #fff; 
    --color-danger: #f00;
    --color-primary: #111;
    --color-primary-2: #fad3d3;
    --color-white: #00a;
    --color-success: #00f;
    --color-success-2: #fcc;
    --container-color-1: #fff;
    --container-color-2: #000;
    --color-btn: #011;
    --form-color-1: #fff;
    --form-color-2: #f0d2d2;
    --form-color-3: #fff;
    --color-less-theme: rgba(0, 0, 0, 0.4);
    --color-info: #11f;
}


* {
    margin: 0;
    padding: 0;
    border: 0;

}

body {
    transition: all 2000ms ease;
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(var(--body-color-1),var(--body-color-2));
}

.theme-toggler {
    background: var(--color-less-theme);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    left: 26%;
    position: absolute;
    cursor: pointer;
    border-radius: 0.4rem;
}
  
.theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.theme-toggler span.active {
    background: var(--color-theme);
    color: white;
    border-radius: 0.4rem;
}

.instruction {
    position: absolute;
    display: grid;
    left: 20px;
    padding-top: 60px;
    font-style: italic;
    color: var(--color-white);

}


.signup-page {
    padding-left: 20px;
}

.logo {
    width: 150px;
    flex-wrap: wrap;
    display: flex;
    padding-left: 700px;
    padding-top: 20px;
}

h1 {
    font-size: 1rem;
    cursor: pointer;
}

main:hover {
    color: var(--color-light);
}

.container {
    max-width: 90%;
    margin: 50px 10px;
    background-color: var(--color-primary);
    clip-path: circle(20% at 0 0);
    transition: all 2s ease;
}

.container:hover {
    clip-path: circle(200%);
    background: radial-gradient(var(--container-color-1),var(--container-color-2));
}

form {
    margin-left: 100px;
    text-align: center;
    line-height: 70px;
    transition: all 2s ease;
    background: radial-gradient(var(--form-color-1),var(--form-color-2), var(--form-color-3));

}

form:hover {
    background: radial-gradient(var(--body-color-1),var(--body-color-3));
}

input {
    font-size: 1.4rem;
    font-family: sans-serif;
    border: 0;
    transition: all 3s ease;

}

input:placeholder-shown {
    color: var(--color-grace);
    transition: all 100s ease
}

input::placeholder {
    color: var(--color-grace);
}

input:hover {
    border-bottom: 1px solid var(--color-danger);
    width: 50%
}

.btn {
    border: 2px solid var(--color-primary);
    border-radius: 50px;
    padding: 20px;
    font-size: 20px;
    transition: all 1s ease;
    color: var(--color-dark);
}

.btn:hover {
    background-color: var(--color-danger);
    color: var(--color-light);
}

.links {
    text-align: center;
    line-height: 50px;
    margin-top: 10%;
}

.forgot-password {
    border: 1px solid var(--color-grace);
    padding: 14px;
    border-radius: 20px;
    background: transparent;
    transition: all 0.5s ease;
}

.forgot-password:hover {
    border: none;
    color: var(--color-dark);
    background: radial-gradient(var(--color-danger), var(--color-success));
    box-shadow: var(--color-dark);
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-info);
    line-height: 10px;
    font-size: 1rem;
    font-weight: bold;
}


/* .forgot-password {
    border: 1px solid var(--color-danger);
    border-radius: 20px;
    color: var(--color-light);
    padding: 10px;
    transition: 1s;
    margin-bottom: 20px;
    margin-top: -100px;
}


.forgot-password:hover {
    border: none;
    background-color: var(--color-primary);
    color: whitesmoke;
} */

@media screen and (max-width: 1200px) {
    .logo {
        width: 100px;
        flex-wrap: wrap;
        display: flex;
        padding-left: 450px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {

    .signup {
        max-width: 90%;
        margin: 50px 10px;
        background-color: var(--color-primary);
        clip-path: circle(15% at 0 0);
        transition: all 2s ease;
    }

    .logo {
        width: 100px;
        flex-wrap: wrap;
        display: flex;
        padding-left: 300px;
        padding-top: 50px;
        padding-bottom: 50px;
    }


    input {
        font-size: 1rem;
        border: 0;
        transition: all 3s ease;
        font-family: 'Poppins', sans-serif;

    }

    form {
        margin-left: 0;
        text-align: center;
        line-height: 40px;
        transition: all 2s ease;
        margin-bottom: 250px;

    }

    .btn {
        padding: 10px;
        font-size: 1rem; 
    }
}

@media screen and (max-width: 320px) {

    .signup {
        max-width: 80%;
        margin: 50px 10px;
        background-color: var(--color-primary);
        clip-path: circle(15% at 0 0);
        transition: all 2s ease;
    }

    .logo {
        width: 80px;
        flex-wrap: wrap;
        display: flex;
        padding-left: 110px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    input {
        font-size: 1rem;
        border: 0;
        transition: all 3s ease;
        font-family: 'Poppins', sans-serif;

    }


    form {
        margin-left: 0;
        line-height: 45px;
        transition: all 2s ease;

    }

    .btn {
        font-size: 14px;
        padding: 5px;
    }

}